:root {
  --purple: #B10DC9;
  --fuchsia: #F012BE;
  --block-bg-color: #F9F3F3;
  --border-color1: #E8E8E8;
  --border-color2: #CCC;
}

html {
  /* This could be in the body, but dark reader does a better job shifting the
   colors when it's here for some reason. */
  background-color: #FFFAFA;
  font-size: 18px;
}

header {
  border-bottom: 1px solid var(--purple);
}

article .tags, article .info {
  font-size: 0.9rem;
  font-style: italic;
  color: #555;
}

body {
  max-width: 960px;
  padding: 1em;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

footer {
  margin-top: 3rem;
  padding: 1rem 0;
  border-top: 1px solid var(--purple);
  font-size: 0.9rem;
  color: #555;
}

a {
  text-decoration: none;
  color: steelblue;
}

a:hover {
  text-decoration: underline;
  color: #225E8F;
}

h1, h2, h3, h4 {
  line-height: 1.2em;
  font-weight: bold;
  margin: 30px 0 20px 0;
}

h1 {
  font-size: 1.8rem;
  margin: 1.5em 0em 0em 0em;
}

h2 { font-size: 1.6rem; }

h2.subtitle {
  color: #5B5B5B;
  font-weight: 400;
  font-style: italic;
  margin: 0.5em 0em 1.5em 0em;
}

h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }

hr {
  border: 1px solid var(--border-color1);
}

dl {
  overflow: hidden;
}

dt {
  float: left;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 20%;
}

dt::after {
  content: ": ";
}

dd {
  float: left;
  width: 70%;
  padding-bottom: 20px;
}

nav {
  padding: 0em 0em 1em 0em;
  text-align: right;
  word-spacing: 0.5em;
}

nav a {
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

nav a:hover {
  border-bottom: 2px solid var(--purple);
  color: black;
  text-decoration: none;
}

#logo {
  background: none!important;
  border: none;
  color: black;
  cursor: pointer;
  float: left;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  padding: 0!important;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: normal;
}

#logo:hover {
  border-bottom: 2px solid var(--purple);
}

#bind {
  color: var(--fuchsia);
}

blockquote {
  font-style: italic;
  background: var(--block-bg-color);
  border: 1px solid var(--border-color1);
  border-radius: 5px;
  border-left: 2px solid var(--purple);
  margin: 1.5em 1em;
  padding: 1px 16px 1px 16px;
}

code {
  font-size: 0.8rem;
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: none;
  background: var(--block-bg-color);
  border: 1px solid var(--border-color1);
  border-radius: 3px;
  padding: 0 2px;
}

.underline {
  text-decoration: underline;
}

pre.sourceCode,
pre.text {
  background: var(--block-bg-color);
  border: 1px solid var(--border-color1);
  border-radius: 5px;
  line-height: 1.3rem;
  overflow: auto;
  padding: 10px 20px;
}

pre.sourceCode code,
pre.text code {
  background: transparent;
  border: none;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.note {
  border: 1px solid var(--purple);
  border-radius: 5px;
  padding: 0 20px 0;
}

.note>p:first-child::before {
  content: "Note: ";
  font-size: 21px;
  font-weight: bold;
}

section.footnotes::before {
  content: "Footnotes";
  display: block;
  font-size: 1.2rem;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 400;
  margin-top: 30px;
}

div.table {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: var(--block-bg-color);
  border: 1px solid var(--border-color2);
  padding: 6px;
}

th, td {
  padding: 6px;
  text-align: left;
}

th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .logo { display: none; }
  nav   { text-align: center; }
  html  { font-size: 16px; }
}
