<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Code|Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  </head>
  <body>
    <header>
      <nav>
        <a class="logo" href="/">
          perplex<span id="bind"> =&lt&lt </span>dev
        </a>
        <a href="/">home</a>
        <a href="/about.html">about</a>
        <a href="/contact.html">contact</a>
        <a href="/archive.html">archive</a>
      </nav>
    </header>

    <main role="main">
      <h1 class="title">$title$</h1>
      $if(subtitle)$
        <h2 class="subtitle">$subtitle$</h2>
      $endif$

      $body$
    </main>

    <footer>
      Built with
      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
    </footer>
  </body>
</html>
